[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
setuptools = ">=41.0"
mypy = ">=0.770"
flake8 = "*"
pre-commit = "*"

[packages]
flowd = {editable = true,path = "."}
