[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = ">=0.770"
pre-commit = "*"
pyinstaller = "*"
setuptools = ">=41.0"

[packages]
flowd = {editable = true,path = "."}
"pyannote.audio" = "==2.0a1"
keyboard = "*"
mouse = "*"
numba = "==0.48"
psutil = "*"
pyaudio = "*"
pywin32 = "228"
scipy = "==1.4.1"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp36-cp36m-win_amd64.whl"}
webrtcvad = "==2.0.10"
wmi = "1.5.1"

[requires]
python_version = "3.6"
