[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/torch_stable.html"
verify_ssl = true

[dev-packages]
setuptools = ">=41.0"
mypy = ">=0.770"
flake8 = "*"
pre-commit = "*"
wheel = "*"
scipy = "==1.4.1"
numba = "==0.48"
webrtcvad = "==2.0.10"
psutil = "*"
pyaudio = "*"
pyannote = {audio = "*"}
torch = {version = "==1.5.1+cpu",index = "pytorch"}
torchvision = {version = "==0.6.1+cpu",index = "pytorch"}

[packages]
flowd = {editable = true,path = "."}
wmi = "1.5.1"
pywin32 = "228"
pyannote = "*"

[requires]
python_version = "3.6"
